*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    width: 50%;
}
div{
    background-color: green;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: sticky;
    width: 50%;
    top: 0px;
}